[Unit]
Description=Konfigurasi DHCP-to-Static Open vSwitch
Wants=network-pre.target
After=local-fs.target openvswitch-switch.service
Before=network-pre.target systemd-networkd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/auto-static-ip start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
